@use '../../base';

.font-list-items-skeleton {
  .font-list-item {
    border-top: 1px solid base.$lighter-highlight-color;

    .placeholder {
      display: inline-block;
      background-color: #444;
      border-radius: 100px;
      opacity: .1;
      animation: fading 1.5s infinite;

      &.dashicons {
        background: unset;

        &.dashicons-yes, {
          color: base.$success-color;
        }
      }

      &.font-name {
        height: 10px;
        margin: 5px 0;
      }
    }
  }
}

@keyframes fading {
  0% {
    opacity: .1;
  }

  50% {
    opacity: .2;
  }

  100% {
    opacity: .1;
  }
}
