$primary-color: #3e7da6;
$default-text-color: #242748;

$success-color: #22a753;
$error-color: #dd301d;
$validation-error-color: #b71f1f;

$lighter-highlight-color: #d5d7e9;
$highlight-color: #5b5e80;

$link-color: #0073aa;
