$primary-color: #3E7DA6;
$default-text-color: #242748;

$success-color: #22A753;
$error-color: #DD301D;
$validation-error-color: #B71F1F;

$lighter-highlight-color: #D5D7E9;
$highlight-color: #5B5E80;

$link-color: #0073aa;
