@use 'Tabs/Settings/settings';
@use 'Tabs/License/license';
@use 'Tabs/Tools/tools';
@use 'Tabs/Help/help';

.gform_settings_form {

  + form {
    margin-top: 2rem;
  }
}

/**
 * Spinner
 */
.gfpdf-spinner {
  padding: 0 5px;
  vertical-align: middle !important;
  width: 24px !important;
}

/**
 * Media queries
 */
@media only screen and (min-width: 783px) {

  /**
   * Help tab section
   */
  #pdfextended-settings {

    .about-wrap {

      #dashboard-widgets {

        .postbox-container {
          width: 49.5%;

          a {
            margin-right: 30px;
            min-height: 245px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1000px) {

  /**
   * Help tab section
   */
  #pdfextended-settings {

    .about-wrap {

      #dashboard-widgets {

        .postbox-container {

          a {
            min-height: 180px;
          }
        }
      }
    }
  }
}
