{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions",
            "IE >= 10"
          ],
          "modules": false,
          "useBuiltIns": "usage"
        },
        "forceAllTransforms": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}