{
  "parser": "@babel/eslint-parser",
  "extends": ["standard", "standard-jsx", "standard-react"],
  "globals": {
    "GFPDF": false,
    "Backbone": false,
    "jQuery": false,
    "gfpdf_migration_multisite_ids": false,
    "gf_vars": false,
    "tinyMCE": false,
    "gform": false,
    "ConditionalLogic": false,
    "ToggleConditionalLogic": false,
    "GetRuleValuesDropDown": false,
    "QTags": false,
    "switchEditors": false,
    "getUserSetting": false,
    "wp": false,
    "gfMergeTagsObj": false,
    "form": false,
    "gform_initialize_tooltips": false,
    "_": false,
    "ClipboardJS": false
  },
  "ignorePatterns": ["versionCompare.js"]
}
