# Help from https://www.gitignore.io

### Mac ###
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

### SublimeText ###
*.sublime-project
*.sublime-workspace

### Libraries ###
vendor/*
vendor_prefixed/*

### Packages ###
node_modules/*
composer.lock

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
.idea/*

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:
*.min.css
*.min.js
chunk-*.js
*.map
dist/*

# Unit tests
/tmp
/tests/bin/
/wordpress/
.phpunit.result.cache

# Coverage report
/coverage
/screenshots

# Others
_notes
_notes/*
Thumbs.db
*.pot
*.phar

# Environment File
.env

