<?xml version="1.0"?>
<phpunit
        bootstrap="tests/phpunit/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
>
    <testsuites>
        <testsuite name="Gravity PDF Test Suite">
            <directory suffix=".php">tests/phpunit/unit-tests/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>ajax</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory>/</directory>
            <exclude>
                <directory suffix=".php">tests/</directory>
                <directory suffix=".php">tmp/</directory>
                <directory suffix=".php">vendor/</directory>
                <directory suffix=".php">bower_components/</directory>
                <directory suffix=".php">node_modules/</directory>
                <directory suffix=".php">resources/</directory>
                <directory suffix=".php">initialisation/</directory>
                <directory suffix=".php">src/assets/</directory>
                <directory suffix=".php">dist/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>