/* 781px and up */
@media (min-width: 781px) {

  /* Popup - Font manager */
  #tab_PDF {
    .font-manager {
      .font-manager-body {
        position: absolute;
        margin-top: 50px;
        width: 100%;
        height: 94%;

        .two-columns {
          &:first-child {
            padding-top: 20px;
          }

          .add-font {
            input {
              width: 90%;
            }

            .font-files {
              .variants {
                .drop-zone {
                  margin-right: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}
