/* 961px up to 1200px*/
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  #tab_PDF {

    /* Font manager modal */
    #font-manager-overlay {
      .font-manager {
        #gfpdf-font-manager-container {

          /* Add font */
          .add-update-font-column {
            .update-font {
              left: -450px;
            }

            form {
              .footer {
                .buttons-icons-container {
                  display: block;

                  .select-delete-icons-container {
                    margin-top: 0.5rem;
                  }
                }

                .msg {
                  &.template-usage-link {
                    #template_usage_info_box {
                      width: 90%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* 1201px up */
@media only screen and (min-width: 1201px) {
  #tab_PDF {

    #gfpdf-settings-field-wrapper-template-container,
    #gfpdf-settings-field-wrapper-font-container {
      display: flex;
    }

    /* Font manager modal */
    #font-manager-overlay {
      .font-manager {
        #gfpdf-font-manager-container {

          /* Add font */
          .add-update-font-column {
            .update-font {
              left: -590px;
            }
          }
        }
      }
    }
  }
}
