/* 960px and below */
@media only screen and (max-width: 960px) {
  #tab_PDF {

    /* Font manager modal */
    #font-manager-overlay {
      .font-manager {
        #gfpdf-font-manager-container {
          display: flex;
          flex-direction: column;

          /* Font list */
          .font-list-column {
            .font-list {
              width: 85%;
            }
          }

          /* Add font */
          .add-update-font-column {
            .update-font {
              left: -800px;
            }
          }
        }
      }
    }
  }
}

/* 961px and up */
@media only screen and (min-width: 961px) {
  #tab_PDF {

    /* Help tab section */
    #pdfextended-settings {

      .about-wrap {
        #dashboard-widgets {
          .postbox-container {
            width: 49.5%;

            a {
              margin-right: 30px;
              min-height: 90px;
              line-height: 1.8em;
            }
          }
        }
      }
    }
  }
}
