/* 576px and up */
@media (min-width: 576px) {

  /* Popup - Font manager */
  #tab_PDF {
    .font-manager {
      .font-manager-body {
        flex-direction: column;
        overflow: auto;

        .two-columns {
          &:first-child {
            width: 90%;
            height: 50%;
            padding-top: 0;
            padding-bottom: 0;
          }

          &:last-child {
            width: 90%;
            padding: 0px 0px 15px 30px;
          }

          .add-font {
            padding-right: 20px;
          }
        }
      }
    }
  }
}
