@use '../base';

//@media only screen and (max-width: 960px) {
//  #tab_pdf, #tab_PDF {
//
//    /* Font manager modal */
//    #font-manager-overlay {
//      .font-manager {
//        #gfpdf-font-manager-container {
//          display: flex;
//          flex-direction: column;
//        }
//      }
//    }
//  }
//}

/* 961px and up */
@media only screen and (min-width: 961px) {

  #tab_pdf, #tab_PDF {

    /* Font manager modal */
    #font-manager-overlay {
      //.font-manager {
      //  .theme-about {
      //    #gfpdf-font-manager-container {
      //      display: grid;
      //      grid-template-columns: 1fr 1fr;
      //      gap: 2rem;
      //      color: base.$default-text-color;
      //
      //      /* Font list */
      //      .font-list-column {
      //        .font-list {
      //          max-height: 600px;
      //          box-shadow: unset;
      //        }
      //      }
      //
      //      /* Add font */
      //      .add-font-column {
      //        padding-top: 0;
      //
      //        form {
      //          .footer {
      //            .msg {
      //              display: inline-block;
      //              padding-top: 8px;
      //              vertical-align: middle;
      //            }
      //          }
      //        }
      //      }
      //    }
      //  }
      //}
    }

    /* Help tab section */
    .about-wrap {
      #dashboard-widgets {
        .postbox-container {
          width: 49.5%;

          a {
            margin-right: 30px;
            min-height: 245px;
          }
        }
      }
    }
  }
}
