/* 1680 and up */
@media (min-width: 1680px) {

  /* Popup - Font manager */
  #tab_PDF {
    .font-manager {
      width: 55%;

      .font-manager-body {
        .two-columns {
          .add-font {
            .font-files {
              .variants {
                .drop-zone {
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }

      p {
        font-size: 13px;
      }
    }
  }
}
