/* 1201px up */
@media only screen and (min-width: 1201px) {
  #tab_PDF {

    #gfpdf-settings-field-wrapper-template-container,
    #gfpdf-settings-field-wrapper-font-container {
      display: flex;
    }

    /* PDF list section */
    #gfpdf_list_form {
      .btn-shortcode.toggle + .gpdf-fallback-input {
        width: 35vw;
      }
    }
  }

}
