:root {
	--gfpdf-primary-color: #3e7da6;
	--gfpdf-default-text-color: #242748;

	--gfpdf-success-color: #22a753;
	--gfpdf-error-color: #dd301d;
	--gfpdf-validation-error-color: #b71f1f;

	--gfpdf-lighter-highlight-color: #d5d7e9;
	--gfpdf-highlight-color: #5b5e80;

	--gfpdf-link-color: #0073aa;
}
