/* Custom properties */
@import "./base.pcss";

/* Reset default */
@import "./reset.pcss";

/* Components */
@import "./Component/alert.pcss";
@import "./Component/button.pcss";
@import "./Component/color-picker.pcss";
@import "./Component/core-fonts.pcss";
@import "./Component/FontManager/font-manager.pcss";
@import "./Component/FontManager/footer.pcss";
@import "./Component/FontManager/font-manager-skeleton.pcss";
@import "./Component/HelpTab/help-tab.pcss";
@import "./Component/gf-settings-containers.pcss";
@import "./Component/license.pcss";
@import "./Component/multicheck.pcss";
@import "./Component/number.pcss";
@import "./Component/rich-text.pcss";
@import "./Component/search-bar.pcss";
@import "./Component/spinner.pcss";
@import "./Component/submit.pcss";
@import "./Component/template-manager.pcss";
@import "./Component/uninstaller.pcss";
@import "./Component/upload.pcss";
@import "./Component/hidden.pcss";

/* Pages */
@import "./Pages/general-settings.pcss";
@import "./Pages/entry-details.pcss";
@import "./Pages/entry-list.pcss";
@import "./Pages/pdf-list.pcss";
@import "./Pages/pdf-settings.pcss";

/* Media queries */
@import "./MediaQueries/min-961.pcss";
@import "./MediaQueries/min-1200.pcss";

/* RTL Components */
@import "./RTL/Component/FontManager/rtl-font-manager.pcss";
@import "./RTL/Component/TemplateManager/rtl-template-manager.pcss";
@import "./RTL/Component/rtl-spinner.pcss";
@import "./RTL/Component/rtl-upload.pcss";
@import "./RTL/Component/rtl-rich-text.pcss";

/* RTL Pages */
@import "./RTL/rtl.pcss";
@import "./RTL/Pages/rtl-general-settings.pcss";
@import "./RTL/Pages/rtl-pdf-list.pcss";
@import "./RTL/Pages/rtl-pdf-settings.pcss";

