/**
 * Welcome Page
 */

.about-wrap .gfpdf-badge {
	margin-bottom: 1.5em;
	position: relative;
	width: 100%;
}

.about-wrap .feature-section:not(.under-the-hood) .col.gfpdf-breakdown {
  margin-top: 0;
}

.gfpdf-badge {
	background: url("../images/gravitypdf-globe-black.png") no-repeat 50% 5px;
	color: #333;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	height: 40px;
	margin: 5px 0 0;
	padding-top: 120px;
	text-align: center;
	text-rendering: optimizelegibility;
}

.gfpdf-page .about-wrap [class$="col"] .col {
    border-bottom: none;
}

.gfpdf-page .about-wrap .feature-section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1 );
}
 
.gfpdf-page .about-wrap .feature-section.two-col .col {
    vertical-align: middle;
}

div img.gfpdf-image {
  border: 1px solid #CCC;
  max-width: 98%;
  
-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.15);
-moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.15);
box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.15);

}



/**
 * General Settings Page
 */
#pdfextended-settings {
	margin-top: 20px;
}

#pdfextended-settings h3,
#tab_pdf h3 {
  margin-top: 5px;
}

#pdfextended-settings h3 i,
#tab_pdf h3 i {
  padding-right: 2px;
}

#pdfextended-settings #add-new-pdf {
  padding: 4px 8px;
}

#pdfextended-settings div.notice, div.pdf-notice {
	margin: 5px 15px 2px;
	padding: 0 0.6em;
}

#pdfextended-settings div.notice, div.pdf-notice {
	background-color: #FFFFFF;
	border-left: 4px solid #7AD03A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#pdfextended-settings div.notice, div.pdf-notice {
	margin: 5px 0 15px;
	padding: 1px 12px;
}

#pdfextended-settings #gfpdf-advanced-options,
#tab_pdf #gfpdf-advanced-options {
  display: none;
  margin-bottom: 20px;
}

.no-js #pdfextended-settings #gfpdf-advanced-options,
.no-js #tab_pdf #gfpdf-advanced-options {
  display: block;
}

#pdfextended-settings .gfpdf-advanced-options,
#tab_pdf .gfpdf-advanced-options {
	margin-top: -5px;
}

.no-js #pdfextended-settings .gfpdf-advanced-options,
.no-js #tab_pdf .gfpdf-advanced-options {
  display: none;
}

#pdfextended-settings select.large,
#tab_pdf select.large {
  width: 350px;
}
 
#tab_pdf .formSubmitted input:invalid {
  border: 1px solid red;
}

#tab_pdf .wp-editor-wrap {
  margin: 0 12px 0 0;
}

.rtl #pdfextended-settings label, .rtl #tab_pdf label {
    float: right;
    margin-left: 5px;
}


/**
 * Tools Settings Page
 */
#pdfextended-settings  table.gfpdfe_table thead th {
  font-weight: bold;
}

#pdfextended-settings table.gfpdfe_table tr:nth-child(2n) td,
#pdfextended-settings table.gfpdfe_table tr:nth-child(2n) th {
	background: none repeat scroll 0 0 #fcfcfc;
}

#pdfextended-settings table.gfpdfe_table tbody th:first-child {
  width: 33%;
}

#pdfextended-settings  p.submit {
  padding-bottom: 0;
  margin-bottom: 0;
}

#pdfextended-settings #pdf-system-status th {
  padding-top: 12px;
  padding-bottom: 12px;
}

#pdfextended-settings #pdf-system-status td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#pdfextended-settings  span.path,
#pdfextended-settings  span.details.path {
  padding: 2px;
  background: #f2f2f2;
}

#setup-templates-confirm ul {
  margin-top: 5px;
}
#setup-templates-confirm li {
  list-style-type: disc;
  margin-left: 20px;
}

#manage-font-files div {
  margin: 10px 0;
}

#manage-font-files div.updated {
  margin-top: 0;
}

#manage-font-files li {
  border: 1px solid #CCC;
  position: relative;
}

#manage-font-files li .delete-font {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

#manage-font-files li .delete-font:hover {
  background: #dc0606;
  color: #FFF;
}

#manage-font-files input.invalid {
  border: 1px solid red;
}

#manage-font-files .font-submit {
  text-align: center;
}

#manage-font-files #font-add-list {
  border: none;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}

#manage-font-files #font-empty {
	font-size: 14px;
	font-style: italic;
	line-height: 21px;
	padding: 60px 0 15px;
	text-align: center;
}

#manage-font-files #font-add-list:hover {
  color: #555;
}

#manage-font-files #font-add-list span {
  display: block;
  text-transform: uppercase;
  margin-top: -5px;
}

#manage-font-files li a {
  display: block;
  background: #EEE;
  padding: 5px 7px;
  text-decoration: none;
}

#manage-font-files li a.font-name .fa {
  margin-right: 5px;
}

#manage-font-files li a:hover {
  background: #e9e9e9;
}

#manage-font-files .font-settings {
  padding: 5px 7px;
}

#manage-font-files .gf_settings_description {
  font-size: 95%;
  margin: 0 0 6px 9.5em;
}

#manage-font-files .font-settings > label, #manage-font-files .font-selector > label {
  float: left;
  width: 9em;
}

#manage-font-files .regular-text  {
  width: 16em;
}

#manage-font-files .css-usage {
  text-align: center;
}

#manage-font-files .css-usage input {
  width: 100%;
  text-align: center;
}

#manage-font-files .css-usage pre {
  margin: 5px 0;
  background: #EEE;
  padding: 7.5px;
}

.rtl #font-list .css-usage input {
    direction: ltr !important;
}

/**
 * Help Settings Page
 */
#pdfextended-settings .metabox-holder h3 {
  font-size: 14px;
}

#pdfextended-settings .postbox-container .postbox {
  margin: 0 8px 20px 0;
}

#pdfextended-settings .postbox .hndle, #pdfextended-settings .widget .widget-top {
  cursor: default;
}

#pdfextended-settings .postbox .handlediv,
#pdfextended-settings #row-1-sortables .postbox h3,
#pdfextended-settings #pdf_support_hours h3 {
  display: none;
}

#pdfextended-settings .about-wrap, #pdfextended-settings .about-wrap .about-text {
  max-width: none;
  min-height: 0;
}

#pdfextended-settings .about-wrap h1, #pdfextended-settings .about-wrap .about-text, #pdfextended-settings .about-wrap #search-knowledgebase {
  text-align: center;
  margin-right: 0;
}

#pdfextended-settings .postbox .inside {
  margin-bottom: 0;
}

#pdfextended-settings .about-wrap h1 {
  margin-top: 40px;
}

#pdfextended-settings .about-wrap #search-knowledgebase input {
	font-family: 'FontAwesome', 'Open Sans', sans-serif;
	font-size: 22px;
	margin: 10px 0 0;
	padding: 16px 20px;
	line-height: 25px;
	width: 100%;
}

#pdfextended-settings #search-results {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}

#pdfextended-settings #search-results .postbox, #search-results .postbox .inside {
  display: none;
}

#pdfextended-settings #search-results .postbox h3 {
  margin-bottom: 0;
}

#pdfextended-settings #search-results .postbox.is-active h3 {
  margin-bottom: 8px;
}


#pdfextended-settings #dashboard_primary .rss-widget ul li {
  padding-bottom: 8px;
  border-bottom: 1px solid #EEE;
}

#pdfextended-settings #dashboard_primary .rss-widget ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#pdfextended-settings #dashboard_primary .rss-widget .rssSummary .continue-reading {
  display: none;
}

#pdfextended-settings .spinner.is-active {
  visibility: visible;
  margin: 0;
}

#pdfextended-settings .help-container {
  margin: 0 auto;
}

#pdfextended-settings .help-container .postbox {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 250px;
}

#pdfextended-settings #row-1-sortables .postbox,
#pdfextended-settings #pdf_support_hours {
  text-align: center;
  padding: 15px;
}

#pdfextended-settings #pdf_knowledgebase i {
  color: #e74c3c;
}

#pdfextended-settings #pdf_support_forum i {
  color: #0f6ca0;
}

#pdfextended-settings #pdf_direct i {
  color: #1f1f1f;
}

#pdfextended-settings #pdf_support_hours i {
  color: #54a208;
}

#pdfextended-settings #row-1-sortables h4,
#pdfextended-settings #pdf_support_hours h4 {
  font-size: 18px;
  line-height: 24px;
  margin: 16px 0;
}

#pdfextended-settings .help-container {
  clear: both;
}

#pdfextended-settings #row-2-sortables .rsswidget {
  font-size: 13px;
}

#pdfextended-settings #row-2-sortables li {
  list-style: inside disc;
}

/**
 * System status icons
 */
#pdf-system-status .fa-check-circle, #pdf-system-status .fa-exclamation-triangle, #pdf-system-status .fa-times-circle {
 font-size: 17px;
 margin-left: 5px;
 vertical-align: bottom;
 margin-top: -2px;
}

#pdf-system-status .fa-check-circle {
 color: #008000;
}

#pdf-system-status .fa-exclamation-triangle {
 color: #ff8a00;
}

#pdf-system-status .fa-times-circle {
 color: #d10b0b;
}


/**
 * License page
 */

#pdf-system-status #license input[type="email"], #pdf-system-status #license input[type="number"], #pdf-system-status #license input[type="password"], #pdf-system-status #license input[type="search"], #pdf-system-status #license input[type="tel"], #pdf-system-status #license input[type="text"], #pdf-system-status #license input[type="url"], #pdf-system-status #license select, #pdf-system-status #license textarea {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
	color: #333333;
	width: 100%;
}

#pdf-system-status #license input[type="text"][readonly="readonly"] {
  background: #EEE;
  cursor: not-allowed;
}

#pdf-system-status #license label {
  font-weight: bold;
  line-height: 30px;
  color: #222;
  font-size: 14px;
  float: left;
  width: 20em;
}

#pdf-system-status #license .expires, #pdf-system-status #license .inactive, #pdf-system-status #license .limit, #pdf-system-status #license .expired, #pdf-system-status #license .deactivate {
  font-style: italic;
}

#pdf-system-status #license .expired {
  display: block;
  color: #9e0b0f;
}

#pdf-system-status #license .gf_keystatus_invalid,
#pdf-system-status #license .gf_keystatus_valid {
  font-size: 120%;
}

#pdf-system-status #license p {
  clear: left;
  float: left;
  width: 100%;
}

#pdf-system-status #license span.container {
  display: block;
}


/**
 * PDF Form Settings List
 */
#gfpdf_list_form .check-column {
  width: 50px;
}

#gfpdf_list_form .duplicate a:hover,
#gfpdf_list_form .delete a:hover {
  cursor: pointer;
}

#gfpdf_list_form .gravitypdf_shortcode {
  background: #EEE;
  width: 100%;
  padding: 5px;
  outline: none;
}

#gfpdf_list_form .gravitypdf_shortcode:focus {
  
}

/**
 * PDF Form Settings (individual)
 */
.gfpdf-hidden {
  display: none;
}

.gfpdf_conditional_logic {
  margin-top: 10px;
}

#pdf-form-settings .conditional_logic th {
  padding-top: 15px;
}

#pdf-form-settings .conditional_logic td {
  vertical-align: top;
}

#pdf-form-settings .gfpdf-spinner,
#pdfextended-settings .gfpdf-spinner,
.wp-dialog .gfpdf-spinner,
#gfpdf_list_form .gfpdf-spinner {
  padding-left: 5px;
  vertical-align: middle;
  width: 20px;
}

#gfpdf_list_form .gfpdf-spinner-small {
  width: 15px;
}

#gfpdf-template-example img {
  width: 100%;
  max-width: 300px;
  border: 1px solid #CCC;
  display: block;
  margin-top: 5px;
}

#gfpdf-template-example p {
  border: 1px solid #ccc;
  display: inline-block;
  max-width: 300px;
  padding: 0 5px;
  text-align: center;
  width: 100%;
}

#gfpdf_pdf_form .gfpdf-toggle-wrapper {
  padding-top: 25px;
}

#gfpdf_pdf_form .gfpdf-tab-container {
    border-bottom: 1px solid #e6e6e6;
    clear: both;
    padding: 0 0 24px 0;
    margin: 0 0 24px 0;
}

#gfpdf_pdf_form .nav-tab-wrapper {
  margin-bottom: 20px;
}

.gfpdf-tab-wrapper.wp-filter {
  margin: 0 0 15px;
}

#gfpdf_conditional_logic_container .gf_conditional_logic_rules_container :first-child {
  width: 250px;
}

/**
 * Entry List Page
 */
.gfpdf_form_action_has_submenu {
  position: relative;
}

.gfpdf_submenu {
  width: 200px;
}

/**
 * Gravity Forms Entry Details Page
 */
.gfpdf_detailed_pdf_container_pdf {
  clear: left;
  margin-bottom: 3px;
}

.gfpdf_detailed_pdf_container span {
  display: block;
  word-wrap: break-word;
  padding: 2px 0 2px 2px;
}

@media only screen and (min-width: 500px) {

	/**
	 * Responsive Welcome Page
	 */
	.about-wrap .gfpdf-badge {
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;
		width: 130px;
	}

    .rtl .about-wrap .gfpdf-badge {
        left: 0;
        right: auto;
    }
}

@media only screen and (min-width: 782px) {

	/**
	 * Add out mascot on larger displays only
	 */
	.gfpdf-mascot-sitting {
		background: url("../images/cap-paws-sitting.png") no-repeat 0 0;
		width: 181px;
		height: 193px;
		display: inline-block;
		float: right;
		margin-top: -188px;
		position: relative;
		z-index: 100;
	}

    .rtl .gfpdf-mascot-sitting {
        float: left;
    }

	#gfpdf-mascot-container {
		padding-bottom: 120px !important;
	}
}

@media only screen and (min-width: 900px) {

  /**
   * Help and Support
   */
  #pdfextended-settings  .help-container .postbox {
	width: 32.66%;
	float: left;
	margin-left: 0.5%;
	margin-right: 0.5%;
	min-width: 0;
  }

  #pdfextended-settings  .help-container .postbox:first-child {
	margin-left: 0;
  }

  #pdfextended-settings  .help-container .postbox:last-child {
	margin-right: 0;
  }
}



/* Add media queries */
@media only screen and (min-width: 1000px) {

	/**
	 * License page
	 */
	  #pdf-system-status #license label {
		float: left;
		width: 20%;
	  }

	  #pdf-system-status #license span.container {
		float: left;
		width: 80%;
	  }
}


@media only screen and (min-width: 1400px) {
	/**
	 * Help and Support
	 */
	#pdfextended-settings .about-wrap h1, #pdfextended-settings .about-wrap .about-text, #pdfextended-settings .about-wrap #search-knowledgebase,
	#pdfextended-settings  #support-wrapper {
	   margin-right: 200px;
	}

	#pdfextended-settings .about-wrap #search-knowledgebase input,
	#pdfextended-settings #search-results, #pdfextended-settings .help-container{
		width: 75%;
	}
}
