/**
 * Welcome Page
 */

.about-wrap .gfpdf-badge {
    margin-bottom: 1.5em;
    position: relative;
    width: 100%;
}

.gfpdf-badge {
    background: #1d1d1d url("../images/gravitypdf-globe-white.png") no-repeat 50% 5px;    
    color: #e7e7e7;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    margin: 5px 0 0;
    padding-top: 120px;
    text-align: center;
    text-rendering: optimizelegibility;
    
}

/**
 * General Settings Page
 */
#pdfextended-settings {
    margin-top: 20px;   
}

#pdfextended-settings h3,
#tab_pdf h3 {
  margin-top: 0;
}

#pdfextended-settings div.notice, div.pdf-notice {
    margin: 5px 15px 2px;
    padding: 0 0.6em;
}

#pdfextended-settings div.notice, div.pdf-notice {
    background-color: #FFFFFF;
    border-left: 4px solid #7AD03A;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#pdfextended-settings div.notice, div.pdf-notice {
    margin: 5px 0 15px;
    padding: 1px 12px;
}

#pdfextended-settings #gfpdf-advanced-options,
#tab_pdf #gfpdf-advanced-options {
  display: none;
  margin-bottom: 20px;
}

.no-js #pdfextended-settings #gfpdf-advanced-options,
.no-js #tab_pdf #gfpdf-advanced-options {
  display: block;
}

#pdfextended-settings .gfpdf-advanced-options,
#tab_pdf .gfpdf-advanced-options {
    margin-top: -18px;
}

.no-js #pdfextended-settings .gfpdf-advanced-options,
.no-js #tab_pdf .gfpdf-advanced-options {
  display: none;
}

#pdfextended-settings select.large,
#tab_pdf select.large {
  width: 350px;
}
 
#tab_pdf .formSubmitted input:invalid {
  border: 1px solid red;
}

/**
 * Tools Settings Page
 */
#pdfextended-settings  table.gfpdfe_table thead th {
  font-weight: bold;
}

#pdfextended-settings table.gfpdfe_table tr:nth-child(2n) td, 
#pdfextended-settings table.gfpdfe_table tr:nth-child(2n) th {
    background: none repeat scroll 0 0 #fcfcfc;
}

#pdfextended-settings table.gfpdfe_table tbody th:first-child {
  width: 33%;
}

#pdfextended-settings  p.submit {
  padding-bottom: 0;
  margin-bottom: 0;
}

#pdfextended-settings #pdf-system-status th {
  padding-top: 12px;
  padding-bottom: 12px;
}

#pdfextended-settings #pdf-system-status td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#pdfextended-settings  span.path, 
#pdfextended-settings  span.details.path {
  padding: 2px;
  background: #f2f2f2;
}

/**
 * Help Settings Page
 */
#pdfextended-settings .metabox-holder h3 {
  font-size: 14px;
}

#pdfextended-settings .postbox-container .postbox {
  margin: 0 8px 20px 0;
}

#pdfextended-settings .postbox .hndle, #pdfextended-settings .widget .widget-top {
  cursor: default;
}

#pdfextended-settings .postbox .handlediv,
#pdfextended-settings #row-1-sortables .postbox h3,
#pdfextended-settings #pdf_support_hours h3 {
  display: none;
}

#pdfextended-settings .about-wrap, #pdfextended-settings .about-wrap .about-text {
  max-width: none;
  min-height: 0;
}

#pdfextended-settings .about-wrap h1, #pdfextended-settings .about-wrap .about-text, #pdfextended-settings .about-wrap #search-knowledgebase {
  text-align: center;
  margin-right: 0;
}

#pdfextended-settings .postbox .inside {
  margin-bottom: 0;
}

#pdfextended-settings .about-wrap h1 {
  margin-top: 40px;
}

#pdfextended-settings .about-wrap #search-knowledgebase input {
    font-family: 'FontAwesome', 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 10px 0 0;
    padding: 16px 20px;
    line-height: 25px;
    width: 100%;
}

#pdfextended-settings #search-results {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}

#pdfextended-settings #search-results .postbox, #search-results .postbox .inside {
  display: none;
}

#pdfextended-settings #search-results .postbox h3 {
  margin-bottom: 0;
}

#pdfextended-settings #search-results .postbox.is-active h3 {
  margin-bottom: 8px;
}


#pdfextended-settings #dashboard_primary .rss-widget ul li {
  padding-bottom: 8px;
  border-bottom: 1px solid #EEE;
}

#pdfextended-settings #dashboard_primary .rss-widget ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#pdfextended-settings .spinner.is-active {
  visibility: visible;
  margin: 0;
}

#pdfextended-settings .help-container {
  margin: 0 auto;  
}

#pdfextended-settings .help-container .postbox {  
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  min-height: 250px;    
}

#pdfextended-settings #row-1-sortables .postbox, 
#pdfextended-settings #pdf_support_hours {
  text-align: center;
  padding: 15px;
}

#pdfextended-settings #pdf_knowledgebase i {
  color: #e74c3c;
}

#pdfextended-settings #pdf_support_forum i {
  color: #0f6ca0;
}

#pdfextended-settings #pdf_direct i {
  color: #1f1f1f;
}

#pdfextended-settings #pdf_support_hours i {
  color: #54a208;
}

#pdfextended-settings #row-1-sortables h4, 
#pdfextended-settings #pdf_support_hours h4 {
  font-size: 18px;
  line-height: 24px;
  margin: 16px 0;
}

#pdfextended-settings .help-container {
  clear: both;
}

#pdfextended-settings #row-2-sortables .rsswidget {
  font-size: 13px;
}

#pdfextended-settings #row-2-sortables li {
  list-style: inside disc;
}

/**
 * System status icons 
 */
#pdf-system-status .fa-check-circle, #pdf-system-status .fa-exclamation-triangle, #pdf-system-status .fa-times-circle {
 font-size: 17px; 
 margin-left: 5px;
 vertical-align: bottom;
 margin-top: -2px;
}

#pdf-system-status .fa-check-circle {
 color: #008000;
}

#pdf-system-status .fa-exclamation-triangle {
 color: #ff8a00;
}

#pdf-system-status .fa-times-circle {
 color: #d10b0b;  
}


/**
 * License page 
 */

#pdf-system-status #license input[type="email"], #pdf-system-status #license input[type="number"], #pdf-system-status #license input[type="password"], #pdf-system-status #license input[type="search"], #pdf-system-status #license input[type="tel"], #pdf-system-status #license input[type="text"], #pdf-system-status #license input[type="url"], #pdf-system-status #license select, #pdf-system-status #license textarea {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333333;
    width: 100%;
}

#pdf-system-status #license input[type="text"][readonly="readonly"] {
  background: #EEE;
  cursor: not-allowed;
}

#pdf-system-status #license label {
  font-weight: bold;
  line-height: 30px;
  color: #222;
  font-size: 14px;  
  float: left;
  width: 20em;  
}

#pdf-system-status #license .expires, #pdf-system-status #license .inactive, #pdf-system-status #license .limit, #pdf-system-status #license .expired, #pdf-system-status #license .deactivate { 
  font-style: italic;
}

#pdf-system-status #license .expired {
  display: block;
  color: #9e0b0f;
}

#pdf-system-status #license .gf_keystatus_invalid, 
#pdf-system-status #license .gf_keystatus_valid {
  font-size: 120%;
}

#pdf-system-status #license p {
  clear: left;
  float: left;
  width: 100%;
}

#pdf-system-status #license span.container {
  display: block;
}


/**
 * PDF Form Settings List 
 */
#gfpdf_list_form .check-column {
  width: 50px;
}

/**
 * PDF Form Settings (individual)
 */

#gfpdf_list_form .duplicate a:hover,
#gfpdf_list_form .delete a:hover {
  cursor: pointer;
}



@media only screen and (min-width: 500px) {

    /**
     * Responsive Welcome Page
     */
    .about-wrap .gfpdf-badge {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        width: 130px;

        -webkit-box-shadow: inset 0px 0px 5px 0px #CCC;
        -moz-box-shadow: inset 0px 0px 5px 0px #CCC;
        box-shadow: inset 0px 0px 5px 0px #CCC;   
    }
}

@media only screen and (min-width: 900px) {

  /**
   * Help and Support 
   */
  #pdfextended-settings  .help-container .postbox { 
    width: 32.66%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    min-width: 0;
  }

  #pdfextended-settings  .help-container .postbox:first-child {
    margin-left: 0;
  }

  #pdfextended-settings  .help-container .postbox:last-child {
    margin-right: 0;
  }
}



/* Add media queries */
@media only screen and (min-width: 1000px) {

    /**
     * License page 
     */
      #pdf-system-status #license label {
        float: left;
        width: 20%;
      }  

      #pdf-system-status #license span.container {
        float: left;
        width: 80%;
      }  
}


@media only screen and (min-width: 1400px) {
    /**
     * Help and Support
     */
    #pdfextended-settings .about-wrap h1, #pdfextended-settings .about-wrap .about-text, #pdfextended-settings .about-wrap #search-knowledgebase,
    #pdfextended-settings  #support-wrapper {
       margin-right: 200px;
    }  

    #pdfextended-settings .about-wrap #search-knowledgebase input,
    #pdfextended-settings #search-results, #pdfextended-settings .help-container{
        width: 75%;
    }  
}
