/*
 * Gravity Forms 2.5 Styles
 */
.gform-settings-panel--full {
 grid-column: span 2;
}

.gfpdf-settings-multicheck-wrapper {
 padding-bottom: 3px;
}

.col-1-3 .gfpdf-settings-multicheck-wrapper {
 float: left;
 width: 33%;
}

.gform-settings-panel .gform-settings-panel__content .gform-settings-panel__title {
 font-weight: bold;
 color: #23282D;
 margin-bottom: .625rem;
 font-size: .8125rem;
}

.gform-settings-panel .gform-settings-panel__content .gform-settings-panel__title

.gform-settings-panel__content input[type="number"].small-text {
 width: 5rem;
}

.gform-settings-field__select-enhanced-container .select2-results__options .select2-results__options {
 overflow-y: initial;
 max-height: initial;
}

.gform-settings-panel__content input + .alert {
 margin-top: 1rem;
}

.gform-settings-panel__content input + button.primary {
 margin-top: 0.5rem;
}

.gform-settings__content form + form {
 margin-top: 2rem;
}

.gform-settings__wrapper .gform-settings-description p.alert {
 margin-top: 0;
}

/*
 * Color Picker
 */
.gform-settings-panel__content .wp-color-result-text,
.gform-settings-panel__content .wp-picker-container input[type="text"].wp-color-picker {
 font-size: .875rem;
}

.gform-settings-panel__content .wp-picker-container input[type="text"].wp-color-picker {
 width: 6rem;
 padding-top: 1px;
 padding-bottom: 1px;
}

.gform-settings-panel__content .wp-picker-container .wp-color-result.button {
 padding-left: 35px;
 border: 1px solid #9092B2;
}

.rtl .gform-settings-panel__content .wp-picker-container .wp-color-result.button {
 padding-lefT: 0;
 padding-right: 35px;
}

.gfpdf-settings-field-wrapper:after {
 content: '';
 display: table;
 clear: both;
}

/*
 * Getting Started Welcome Page
 */

.about-wrap .gfpdf-badge {
 margin-bottom: 1.5em;
 position: relative;
 width: 100%;
}

.about-wrap .feature-section:not(.under-the-hood) .col.gfpdf-breakdown {
 margin-top: 0;
}

.gfpdf-badge {
 background: url("../images/gravitypdf-logo.svg") no-repeat 50% 0;
 background-size: 95%;
 color: #333;
 display: inline-block;
 font-size: 14px;
 font-weight: 600;
 padding-top: 125px;
 text-align: center;
}

.gfpdf-page .about-wrap [class$="col"] .col {
 border-bottom: none;
}

.gfpdf-page .about-wrap .feature-section {
 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.gfpdf-page .about-wrap .feature-section.two-col .col {
 vertical-align: middle;
}

div img.gfpdf-image {
 border: 1px solid #CCC;
 max-width: 98%;
 -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
 -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
 box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
}

.gfpdf-welcome-screen {
 position: relative;
 margin: 25px 40px 0 20px;
 max-width: 1050px;
 font-size: 15px;
}

.gfpdf-welcome-screen p {
 line-height: 1.5;
 font-size: 14px;
}

.gfpdf-welcome-screen h3 {
 margin: 1.25em 0 .6em;
 font-size: 1.4em;
 line-height: 1.5;
}

.gfpdf-welcome-screen h1 {
 margin: .2em 200px 0 0;
 padding: 0;
 line-height: 1.2em;
 font-size: 2.8em;
 font-weight: 400;
}

.gfpdf-two-col {
 overflow: hidden;
 padding: 0 0 40px;
 display: flex;
 -webkit-box-pack: justify;
 justify-content: space-between;
 -webkit-box-align: center;
 align-items: center;
}

.gfpdf-two-col .col {
 min-width: 47%;
 max-width: 47%;
 margin-top: 40px;
 vertical-align: middle;
}

.gfpdf-two-col .col p {
 max-width: 55em;
 margin-top: .6em;
 margin-left: auto;
 margin-right: auto;
 line-height: 1.5;
 font-size: 14px;
}

.gfpdf-two-col .col h3 {
 margin-top: 0;
}

.gfpdf-welcome-screen img.gfpdf-image {
 height: auto;
 vertical-align: middle;
 margin-bottom: 1em;
}

.gfpdf-welcome-screen .gfpdf-three-col {
 overflow: hidden;
 padding: 0 0 40px;
 display: flex;
 justify-content: space-between;
 -webkit-box-align: center;
 align-items: center;
 flex-wrap: wrap;
}

.gfpdf-three-col .col {
 align-self: flex-start;
 min-width: 31%;
 max-width: 31%;
}

.gfpdf-three-col .col h3 {
 margin: 1.33em 0;
 font-size: 1em;
 line-height: inherit;
}

.gfpdf-changelog {
 margin-bottom: 40px;
}

.gfpdf-changelog h2 {
 font-size: 1.4em;
 font-weight: 600;
 text-align: left;
}

.gfpdf-breakdown h4 {
 margin: 1.4em 0 .6em;
 font-size: 1em;
}

.gfpdf-breakdown p {
 max-width: 55em;
 margin-left: auto;
 margin-right: auto;
}

.gfpdf-changelog .gfpdf-three-col {
 overflow: hidden;
 padding: 0 0 40px;
}

/*
 * General Settings Page
 */
#submit-and-promo-container {
 display: flex;
 justify-content: space-between;
 grid-column: span 2;
 margin-top: 0.5rem;
}

#pdfextended-settings h3,
#tab_pdf h3 {
 margin-top: 5px;
 line-height: 1.3em;
}

#pdfextended-settings h3 i,
#tab_pdf h3 i {
 padding-right: 2px;
}

#pdfextended-settings #add-new-pdf {
 padding: 4px 8px;
}

#pdfextended-settings #gfpdf-advanced-options,
#tab_pdf #gfpdf-advanced-options {
 display: none;
 margin-bottom: 20px;
}

.no-js #pdfextended-settings #gfpdf-advanced-options,
.no-js #tab_pdf #gfpdf-advanced-options {
 display: block;
}

#pdfextended-settings .gfpdf-advanced-options,
#tab_pdf .gfpdf-advanced-options {
 margin-top: -5px;
}

.no-js #pdfextended-settings .gfpdf-advanced-options,
.no-js #tab_pdf .gfpdf-advanced-options {
 display: none;
}

#tab_pdf .formSubmitted input:invalid {
 border: 1px solid red;
}

#tab_pdf .wp-editor-wrap {
 margin: 0 12px 0 0;
}

.rtl .gform-settings-panel__content .gform-settings-description {
 float: right;
 width: 100%;
}

.rtl .gform-settings-panel__content label {
 float: right;
 margin-left: 5px;
}

/*
 * Tools Settings Page
 */

#pdfextended-settings table.gfpdf_table thead th {
 font-weight: bold;
}

#pdfextended-settings table.gfpdf_table tr:nth-child(2n) td,
#pdfextended-settings table.gfpdf_table tr:nth-child(2n) th {
 background: none repeat scroll 0 0 #fcfcfc;
}

#pdfextended-settings p.submit {
 padding-bottom: 0;
 margin-bottom: 0;
}

#pdfextended-settings span.path,
#pdfextended-settings span.details.path {
 padding: 2px;
 background: #f2f2f2;
}

#setup-templates-confirm ul {
 margin-top: 5px;
}

#setup-templates-confirm li {
 list-style-type: disc;
 margin-left: 20px;
}

#manage-font-files div {
 margin: 10px 0;
}

#manage-font-files div.updated {
 margin-top: 0;
}

#manage-font-files li {
 border: 1px solid #CCC;
 position: relative;
}

#manage-font-files li .delete-font {
 position: absolute;
 top: 0;
 right: 0;
 padding: 5px 10px;
}

#manage-font-files li .delete-font:hover {
 background: #dc0606;
 color: #FFF;
}

#manage-font-files input.invalid {
 border: 1px solid red;
}

#manage-font-files .font-submit {
 text-align: center;
}

#manage-font-files #font-add-list {
 border: none;
 text-align: center;
 color: #ccc;
 cursor: pointer;
}

#manage-font-files #font-empty {
 font-size: 14px;
 font-style: italic;
 line-height: 21px;
 padding: 60px 0 15px;
 text-align: center;
}

#manage-font-files #font-add-list:hover {
 color: #555;
}

#manage-font-files #font-add-list span {
 display: block;
 text-transform: uppercase;
 margin-top: -5px;
}

#manage-font-files li a {
 display: block;
 background: #EEE;
 padding: 5px 7px;
 text-decoration: none;
}

#manage-font-files li a.font-name .fa {
 margin-right: 5px;
}

#manage-font-files li a:hover {
 background: #e9e9e9;
}

#manage-font-files .font-settings {
 padding: 5px 7px;
}

#manage-font-files .gf_settings_description {
 font-size: 95%;
}

#manage-font-files .font-settings > label, #manage-font-files .font-selector > label {
 float: left;
 width: 9em;
}

#manage-font-files .regular-text {
 width: 16em;
}

#manage-font-files .css-usage {
 text-align: center;
}

#manage-font-files .css-usage input {
 width: 100%;
 text-align: center;
}

#manage-font-files .css-usage pre {
 margin: 5px 0;
 background: #EEE;
 padding: 7.5px;
}

.rtl #font-list .css-usage input {
 direction: ltr !important;
}

/*
 * Core Fonts Download
 */
#gfpdf-install-core-fonts > div,
#gfpdf-install-core-fonts > div > img,
#gfpdf-install-core-fonts > div > span {
 vertical-align: middle;
}

.gfpdf-core-font-container {
 border: 1px solid #E3E6EF;
 border-radius: 6px;
 box-shadow: 0 1px 4px rgba( 18, 25, 97, 0.0779552 );
 margin-top: 1rem;
 padding: 0.75rem;
 height: 200px;
 overflow: auto;
 font-family: "Courier New", Courier, monospace;
}

.gfpdf-core-font-status-success {
 color: #048935;
}

.gfpdf-core-font-status-error {
 color: #DD301D;
}

.gfpdf-core-font-counter {
 display: inline-block;
}

/*
 * Help Settings Page
 */
#pdfextended-settings .metabox-holder h3 {
 font-size: 14px;
}

#pdfextended-settings .postbox-container .postbox {
 margin: 0 8px 20px 0;
}

#pdfextended-settings .postbox h3.hndle {
 padding-bottom: 12px;
}

#pdfextended-settings .postbox .hndle, #pdfextended-settings .widget .widget-top {
 cursor: default;
}

#pdfextended-settings .postbox .handlediv,
#pdfextended-settings #pdf_support_hours h3 {
 display: none;
}

#pdfextended-settings .about-wrap, #pdfextended-settings .about-wrap .about-text {
 max-width: none;
 min-height: 0;
 line-height: 1.8em;
}

#pdfextended-settings .about-wrap h1, #pdfextended-settings .about-wrap .about-text, #pdfextended-settings .about-wrap #search-knowledgebase {
 text-align: center;
 margin-right: 0;
}

#pdfextended-settings .postbox .inside {
 margin-bottom: 0;
}

#pdfextended-settings .about-wrap h1 {
 margin-top: 40px;
}

#pdfextended-settings .about-wrap #search-knowledgebase input {
 font-family: 'FontAwesome', 'Open Sans', sans-serif;
 font-size: 22px;
 margin: 10px 0 0;
 padding: 16px 20px;
 line-height: 25px;
 width: 100%;
}

#pdfextended-settings #search-results {
 text-align: left;
 margin: 0 auto;
 width: 100%;
}

#pdfextended-settings #search-results .postbox, #search-results .postbox .inside {
 display: none;
}

#pdfextended-settings #search-results .postbox h3 {
 margin-bottom: 0;
}

#pdfextended-settings #search-results .postbox.is-active h3 {
 margin-bottom: 8px;
}

#pdfextended-settings .spinner.is-active {
 visibility: visible;
 margin: 0;
}

#pdfextended-settings .about-wrap .about-text-disclaimer {
 font-size: 13px;
}

#pdfextended-settings .about-wrap #dashboard-widgets:after {
 content: "";
 display: block;
 clear: both;
}

#pdfextended-settings .about-wrap #dashboard-widgets {
 margin-bottom: 30px;
}

#pdfextended-settings .about-wrap #dashboard-widgets.columns-2 .postbox-container {
 width: 100%
}

#pdfextended-settings .about-wrap #dashboard-widgets .postbox-container > a {
 background: #f6f6f6 none repeat scroll 0 0;
 border: 3px solid #eee;
 border-radius: 10px;
 color: inherit;
 display: block;
 padding: 15px;
 font-size: 16px;
 text-decoration: none;
 margin-bottom: 30px;
 transition: all 0.5s ease 0s;
}

#pdfextended-settings .about-wrap #dashboard-widgets .postbox-container > a:hover {
 border: 3px solid #076aa4;
}

#pdfextended-settings .about-wrap #dashboard-widgets .postbox-container > a span {
 font-weight: bold;
}

#pdfextended-settings .about-wrap #dashboard-widgets .postbox-container li {
 margin: 0;
 padding: 0;
 list-style-type: disc;
 list-style-position: inside;
}

#pdfextended-settings .about-wrap .center {
 text-align: center;
}

#pdfextended-settings .about-wrap .button.button-large {
 height: 35px;
 line-height: 33px;
 padding: 0 17px 9px;
}

#pdfextended-settings li.resultExist {
 padding: 18px 14px 5px 14px;
 border-bottom: 1px dotted #ccc;
}

#pdfextended-settings li.resultExist:last-child {
 border-bottom: 0px;
}

#pdfextended-settings li.noResult, li.error {
 padding: 14px 14px 10px 14px;
}


/*
 * System status icons
 */
#pdf-system-status .fa-check-circle, #pdf-system-status .fa-exclamation-triangle, #pdf-system-status .fa-times-circle {
 font-size: 17px;
 margin-left: 5px;
 vertical-align: bottom;
 margin-top: -2px;
}

#pdf-system-status .fa-check-circle {
 color: #008000;
}

#pdf-system-status .fa-exclamation-triangle {
 color: #ff8a00;
}

#pdf-system-status .fa-times-circle {
 color: #d10b0b;
}


/*
 * License page
 */

#pdf-system-status #license input[type="email"], #pdf-system-status #license input[type="number"], #pdf-system-status #license input[type="password"], #pdf-system-status #license input[type="search"], #pdf-system-status #license input[type="tel"], #pdf-system-status #license input[type="text"], #pdf-system-status #license input[type="url"], #pdf-system-status #license select, #pdf-system-status #license textarea {
 background-color: #FFFFFF;
 border: 1px solid #DDDDDD;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
 color: #333333;
 width: 100%;
}

#pdf-system-status #license input[type="text"][readonly="readonly"] {
 background: #EEE;
 cursor: not-allowed;
}

#pdf-system-status #license label {
 font-weight: bold;
 line-height: 30px;
 color: #222;
 font-size: 14px;
 float: left;
 width: 20em;
}

#pdf-system-status #license .expires, #pdf-system-status #license .inactive, #pdf-system-status #license .limit, #pdf-system-status #license .expired, #pdf-system-status #license .deactivate {
 font-style: italic;
}

#pdf-system-status #license .expired {
 display: block;
 color: #9e0b0f;
}

#pdf-system-status #license .gf_keystatus_invalid,
#pdf-system-status #license .gf_keystatus_valid {
 font-size: 120%;
}

#pdf-system-status #license p {
 clear: left;
 float: left;
 width: 100%;
}

#pdf-system-status #license span.container {
 display: block;
}


/*
 * PDF Form Settings List
 */
#gfpdf_list_form .check-column {
 width: 50px;
}

#gfpdf_list_form .duplicate a:hover,
#gfpdf_list_form .delete a:hover {
 cursor: pointer;
}

#gfpdf_list_form .gravitypdf_shortcode {
 background: #EEE;
 width: 100%;
 padding: 5px;
 outline: none;
}

/*
 * PDF Form Settings (individual)
 */
.gfpdf-hidden {
 display: none;
}

#pdf-form-settings .gfpdf-spinner,
#pdfextended-settings .gfpdf-spinner,
.wp-dialog .gfpdf-spinner,
#gfpdf_list_form .gfpdf-spinner {
 padding: 5px;
 vertical-align: middle;
 width: 27px;
}

#gfpdf_list_form .gfpdf-spinner-small {
 width: 15px;
}

#gfpdf-template-example img {
 width: 100%;
 max-width: 300px;
 border: 1px solid #CCC;
 display: block;
 margin-top: 5px;
}

#gfpdf-template-example p {
 border: 1px solid #ccc;
 display: inline-block;
 max-width: 300px;
 padding: 0 5px;
 text-align: center;
 width: 100%;
}

#gfpdf_pdf_form .gfpdf-toggle-wrapper {
 padding-top: 25px;
}

#gfpdf_pdf_form .gfpdf-tab-container {
 border-bottom: 1px solid #e6e6e6;
 clear: both;
 padding: 0 0 24px 0;
 margin: 0 0 8px 0;
}

#gfpdf_pdf_form .extensions-upsell {
 float: right;
 font-style: italic;
}

#pdfextended-settings .extensions-upsell {
 font-style: italic;
}

#gfpdf_pdf_form .nav-tab-wrapper {
 margin-bottom: 20px;
}

.gfpdf-tab-wrapper.wp-filter {
 margin: 0 0 15px;
}

.gfpdf-page .merge-tag-support {
 max-width: none;
}

.gfpdf-page h4.section-title {
 font-weight: bold;
 margin-bottom: 0;
}

.gfpdf-page .form-table li {
 list-style: inherit;
}

/*
 * Entry List Page
 */
.gfpdf_form_action_has_submenu {
 position: relative;
 display: inline-block;
}

.gfpdf_form_action_has_submenu.open .gform-form-toolbar__submenu {
 display: block;
 max-width: 300px;
}

.gfpdf_form_action_has_submenu.open .gform-form-toolbar__submenu a:focus {
 box-shadow: inset 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
}


 /*
  * Gravity Forms Entry Details Page
  */
.gfpdf_detailed_pdf_container_pdf {
 clear: left;
 margin-bottom: 3px;
}

.gfpdf_detailed_pdf_container span {
 display: block;
 word-wrap: break-word;
 padding: 2px 0 2px 2px;
}

/*
 * Fancy Template Selector
 */
#gfpdf-template-container .theme .theme-actions {
 opacity: 1;
 left: inherit;
 border-top: none;
 height: 41px;
 padding: 6px 3px 0;
 top: auto;

 -moz-box-sizing: content-box;
 -webkit-box-sizing: content-box;
 box-sizing: content-box;
 -webkit-transform: none;
 transform: none;
 box-shadow: none;
}

.rtl #gfpdf-template-container .theme .theme-actions {
 right: inherit;
 left: 0;
}

#gfpdf-template-container .wp-filter-search {
 margin: 0 0 5px;
 font-size: 16px;
 font-weight: 300;
 line-height: 1.5;

 width: 100%;
}

#gfpdf-template-container .theme .theme-author {
 display: block;
}

#gfpdf-overlay h1 {
 float: left;
 padding-left: 2%;
}

.rtl #gfpdf-overlay h1 {
 float: right;
 padding-left: 0;
 padding-right: 2%;
}

#gfpdf-overlay p.no-themes {
 display: block;
 font-size: 18px;
}

#gpdf-advance-template-selector {
 display: inline-block;
 margin: 0.25rem;
 vertical-align: top;
}

#gfpdf-template-container .theme.add-new-theme a.doing-ajax span:after,
#gfpdf-template-container .theme.add-new-theme a.doing-ajax:hover span:after {
 font-family: 'FontAwesome', 'Open Sans', sans-serif;
 content: '\f1ce';
 font-size: 79px;
 background: none;
 width: auto;
 height: auto;
 left: 51.5%;
 text-indent: 0;
 -webkit-animation: fa-spin 1.5s infinite linear;
 animation: fa-spin 1.5s infinite linear;
}

/*
 * Dropzone
 */
.theme-browser .theme.add-new-theme.gfpdf-dropzone-active a {
 background: rgb(0, 115, 170);
}

.theme-browser .theme.add-new-theme.gfpdf-dropzone-active a:after {
 border-color: transparent;
}

.theme-browser .theme.add-new-theme.gfpdf-dropzone-active a span:after {
 background: #FFF;
 color: rgb(0, 115, 170);
}

#gfpdf-template-container .theme.add-new-theme a.doing-ajax:hover span:after,
#gfpdf-template-container .theme.add-new-theme a.doing-ajax:focus span:after,
#gfpdf-template-container .theme.add-new-theme.gfpdf-dropzone-active a.doing-ajax span:after {
 color: #FFF;
 background: none;
}

.theme-browser .theme.add-new-theme.gfpdf-dropzone-active .theme-name {
 color: #FFF;
}

.gfpdf-dropzone-reject {
 background: red;
}

.gfpdf-template-install-instructions {
 font-size: 85%;
 text-align: center;
 margin-top: 5px;
}

/*
 * Custom Template Field Style
 */
.image-radio-buttons input {
 display: none;
}

.image-radio-buttons img {
 padding: 6px;
}

.image-radio-buttons input:checked + img {
 background: #2abbff;
}

@media only screen and (max-width: 389px) {
 .gfpdf-welcome-screen {
  margin: 25px 40px 0px 5px;
 }
}

@media only screen and (max-width: 499px) {
 .about-wrap h1 {
  font-size: 2.5em;
  margin-right: 0;
 }

 .about-wrap .gfpdf-badge {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding-top: 170px;
  width: 180px;
 }

 .gfpdf-two-col .col {
  margin-top: 0px !important;
 }
}

@media only screen and (min-width: 500px) {
 /*
  * Responsive Welcome Page
  */
 .about-wrap .gfpdf-badge {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  width: 130px;
 }

 .about-wrap .about-text {
  margin: 1em 200px 1em 0;
 }

 .rtl .about-wrap .gfpdf-badge {
  left: 0;
  right: auto;
 }
}

@media only screen and (max-width: 599px) {
 .gfpdf-two-col {
  display: block;
 }

 .gfpdf-two-col .col {
  min-width: 100%;
  max-width: 100%;
  margin-top: 40px;
  vertical-align: middle;
 }

 .gfpdf-welcome-screen .gfpdf-three-col {
  display: block;
 }

 .gfpdf-three-col .col {
  align-self: flex-start;
  min-width: 100%;
  max-width: 100%;
 }
}

@media only screen and (max-width: 782px) {
 #pdfextended-settings table.gfpdf_table th, #pdfextended-settings table.gfpdf_table td {
  display: block;
  vertical-align: middle;
  width: auto;
 }

 /* Input Styles */
 .gfpdf-page .form-table tbody td input[type="number"] {
  font-size: 16px;
  line-height: 1.5;
  padding: 7px 10px;
 }

 .gfpdf-page .form-table tbody td label {
  display: block;
  font-size: 16px;
 }

 .gfpdf-page .form-table tbody td label:first-of-type {
  margin-top: 10px;
 }

 .gfpdf-page .form-table th,
 .gfpdf-page .form-table td,
 .gfpdf-page .gfpdf_table th,
 .gfpdf-page .gfpdf_table td,
 .gf_delete_notice,
 #manage-font-files {
  font-size: 16px;
 }

 .gf_delete_notice,
 #manage-font-files {
  line-height: 21px;
 }

 .gfpdf-page .form-table tbody .conditional_logic td label {
  display: inline;
 }

 .gfpdf-page .form-table tbody td input[type="number"] {
  padding-right: 3px;
 }

 #wpbody-content {
  padding-bottom: 0px;
 }
}

@media only screen and (min-width: 783px) {

 /*
  * Add out mascot on larger displays only
  */
 .gfpdf-mascot-sitting {
  background: url("../images/cap-paws-sitting.png") no-repeat 0 0;
  width: 181px;
  height: 193px;
  display: inline-block;
  float: right;
  margin-top: -189px;
  position: relative;
  z-index: 100;
 }

 .rtl .gfpdf-mascot-sitting {
  float: left;
 }

 #gfpdf-mascot-container {
  padding-bottom: 120px !important;
 }

 #pdfextended-settings table.gfpdf_table tbody th {
  width: 200px;
 }

 #manage-font-files .gf_settings_description {
  margin: 0 0 6px 9.5em;
 }

 #pdfextended-settings .about-wrap #dashboard-widgets.columns-2 .postbox-container {
  width: 49.5%;
 }

 #pdfextended-settings .about-wrap #dashboard-widgets .postbox-container > a {
  margin-right: 30px;
  min-height: 245px;
 }

 #pdfextended-settings #pdf-system-status th {
  padding-top: 12px;
  padding-bottom: 12px;
 }

 #pdfextended-settings #pdf-system-status td {
  padding-top: 10px;
  padding-bottom: 10px;
 }

 /* Conditional Logic */
 #gfpdf_conditional_logic_container .gf_conditional_logic_rules_container :first-child {
  max-width: 250px;
  width: 100%;
 }
}

@media only screen and (min-width: 900px) {

 /*
  * Help and Support
  */
 #pdfextended-settings .help-container .postbox {
  width: 32.66%;
  float: left;
  margin-left: 0.5%;
  margin-right: 0.5%;
  min-width: 0;
 }

 #pdfextended-settings .help-container .postbox:first-child {
  margin-left: 0;
 }

 #pdfextended-settings .help-container .postbox:last-child {
  margin-right: 0;
 }
}

/* Add media queries */
@media only screen and (min-width: 1000px) {

 /*
  * License page
  */
 #pdf-system-status #license label {
  float: left;
  width: 20%;
 }

 #pdf-system-status #license span.container {
  float: left;
  width: 80%;
 }

 #pdfextended-settings .about-wrap #dashboard-widgets .postbox-container > a {
  min-height: 180px;
 }
}

@media only screen and (max-width: 1120px) {
 #gfpdf-template-container .theme:nth-child(odd) {
  margin-right: 2%;
 }
}

@media only screen and (min-width: 1400px) {
 /*
  * Help and Support
  */
 #pdfextended-settings .about-wrap #search-knowledgebase input,
 #pdfextended-settings #search-results, #pdfextended-settings .help-container {
  width: 75%;
 }

 #pdfextended-settings .about-wrap #dashboard-widgets .postbox-container > a {
  min-height: 90px;
 }
}

@media only screen and (min-width: 1640px) {
 #gfpdf-template-container .theme {
  margin: 0 2% 2% 0;
 }

 #gfpdf-template-container .wp-filter-search {
  width: 22.7%;
 }
}
