/**
 * Initialisation Page 
 */
#pdfextended-settings {
margin-top: 20px;	
}

#pdfextended-settings div.notice, .pdf-notice {
    margin: 5px 15px 2px;
    padding: 0 0.6em;
}

#pdfextended-settings div.notice, .pdf-notice {
    background-color: #FFFFFF;
    border-left: 4px solid #7AD03A;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.wrap #pdfextended-settings div.notice, .pdf-notice {
    margin: 5px 0 15px;
	padding: 1px 12px;
}









/**
 * System status icons 
 */
#pdf-system-status .fa-check-circle, #pdf-system-status .fa-exclamation-triangle, #pdf-system-status .fa-times-circle {
 font-size: 17px; 
 margin-left: 5px;
 vertical-align: bottom;
 margin-top: -2px;
}

#pdf-system-status .fa-check-circle {
 color: #008000;
}

#pdf-system-status .fa-exclamation-triangle {
 color: #ff8a00;
}

#pdf-system-status .fa-times-circle {
 color: #d10b0b;  
}


/**
 * Settings Pages 
 */

table.gfpdfe_table thead th {
  font-weight: bold;
}

table.gfpdfe_table tr:nth-child(2n) td, table.gfpdfe_table tr:nth-child(2n) th {
    background: none repeat scroll 0 0 #fcfcfc;
}

table.gfpdfe_table tbody th:first-child {
  width: 33%;
}

#tab_PDF p.submit {
  padding-bottom: 0;
  margin-bottom: 0;
}

#pdf-system-status th {
  padding-top: 12px;
  padding-bottom: 12px;
}

#pdf-system-status td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#tab_PDF span.path, #tab_PDF span.details.path {
  padding: 2px;
  background: #f2f2f2;
}

/*
 * Help and Support Settings 
 */
#tab_PDF .metabox-holder h3 {
  font-size: 14px;
}

#tab_PDF .postbox-container .postbox {
  margin: 0 8px 20px 0;
}

#tab_PDF .postbox .hndle, #tab_PDF .widget .widget-top {
  cursor: default;
}

#tab_PDF .postbox .handlediv {
  display: none;
}

#tab_PDF .about-wrap, #tab_PDF .about-wrap .about-text {
  max-width: none;
  min-height: auto;
}

#tab_PDF .about-wrap h1, #tab_PDF .about-wrap .about-text, #tab_PDF .about-wrap #search-knowledgebase {
  text-align: center;
  margin-right: 0;
}

#tab_PDF .about-wrap h1 {
  margin-top: 40px;
}

#tab_PDF .about-wrap #search-knowledgebase input {
    font-family: 'FontAwesome', 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 10px 0 0;
    padding: 16px 20px;
    line-height: 25px;
    width: 100%;
}

#tab_PDF #search-results {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}

#tab_PDF #dashboard_primary .rss-widget ul li {
  padding-bottom: 8px;
  border-bottom: 1px solid #EEE;
}

#tab_PDF #dashboard_primary .rss-widget ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#tab_PDF #dashboard_primary .rss-widget:last-child {
  padding-bottom: 16px;
}

#tab_PDF .spinner.is-active {
  visibility: visible;
  margin: 0;
}


/**
 * License page 
 */

#license input[type="email"], #license input[type="number"], #license input[type="password"], #license input[type="search"], #license input[type="tel"], #license input[type="text"], #license input[type="url"], #license select, #license textarea {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333333;
    width: 100%;
}

#license input[type="text"][readonly="readonly"] {
  background: #EEE;
  cursor: not-allowed;
}

#license label {
  font-weight: bold;
  line-height: 30px;
  color: #222;
  font-size: 14px;  
  float: left;
  width: 20em;  
}

#license .expires, #license .inactive, #license .limit, #license .expired, #license .deactivate { 
  font-style: italic;
}

#license .expired {
  display: block;
  color: #9e0b0f;
}

#license .gf_keystatus_invalid, #license .gf_keystatus_valid {
  font-size: 120%;
}

#license p {
  clear: left;
  float: left;
  width: 100%;
}

#license span.container {
  display: block;
}


@media only screen and (min-width: 765px) {

}



/* Add media queries */
@media only screen and (min-width: 1000px) {


  #license label {
    float: left;
    width: 20%;
  }  

  #license span.container {
    float: left;
    width: 80%;
  }  
}


@media only screen and (min-width: 1400px) {
  #tab_PDF .about-wrap h1, #tab_PDF .about-wrap .about-text, #tab_PDF .about-wrap #search-knowledgebase {
    margin-right: 200px;
  }  

  #tab_PDF .about-wrap #search-knowledgebase input,
  #tab_PDF #search-results {
      width: 70%;
  }  
}