/**
 * THIS IS A LEGACY CSS FILE FOR Gravity PDF v3 template files
 */

body {
	font-family: DejaVu Sans, Helvetica, sans-serif;
	letter-spacing: -0.2px;
}

#container {
	border-radius: 4px 4px 4px 4px;
	border-spacing: 0;
	clear: both;
	width: 100%;
	background-color: #fff;
	border-color: #dfdfdf;
	border-style: solid;
	border-width: 1px;
	margin: 0 0 16px;
}

h2.default {
	background-color: #e3e3e3;
	font-size: 14px;
	text-align: left;
	margin: 0;
	padding: 7px;
}

.entry-view-field-value, .entry-view-html-value, .entry-view-section-break-content {
	border-bottom: 1px solid #dfdfdf;
	line-height: 150%;
	padding: 6px 6px 6px 7px;
}

.lastrow {
	border-bottom: none;
}

.entry-view-field-value ul {
	margin-left: 15px;
}

.entry-view-field-value div.strong {
	font-weight: bold;
}

.no-style .entry-view-field-value, .no-style #container, .no-style h2, .no-style .entry-view-html-value, .no-style .entry-view-section-break-content {
	background: none;
	border: none;
}

.two_row .entry-view-field-value {
	border: 0;
	line-height: normal;
	padding: 0;
}

.two_row .entry-view-field-value div.strong {
	font-weight: bold;
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
	line-height: 150%;
	background-color: #eaf2fa;
	padding: 6px 6px 6px 7px;
}

.two_row .entry-view-field-value div.value {
	display: block;
	width: 100%;
	border-bottom: 1px solid #fff;
	line-height: 150%;
	padding: 6px 6px 6px 7px;
}

.two_row .entry-view-field-value span {
	font-weight: normal;
}

td.entry-view-field-value {
	padding-left: 9px;
}

.even {
	background: #eaf2fa;
}

.body_copy {
	padding-top: 50px;
}

.pdf_logo_area {
	text-align: center;
	margin: 0 auto;
}

table.entry-products {
	width: 98%;
}

table.entry-products th {
	background-color: #F4F4F4;
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF !important;
}

table.entry-products td.textcenter, table.entry-products th.textcenter {
	text-align: center;
}

table.entry-products col.entry-products-col2 {
	width: 50px;
}

table.entry-products col.entry-products-col3 {
	width: 155px;
}

table.entry-products col.entry-products-col4 {
	width: 155px;
}

table.entry-products {
	border: 1px solid #DFDFDF;
	margin: 10px 0;
}

table.entry-products td {
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF !important;
	padding: 7px 7px 8px;
	vertical-align: top;
}

table.entry-products td.emptycell {
	background-color: #F4F4F4;
}

table.entry-products td.grandtotal, table.entry-products td.grandtotal_amount, table.entry-products td.shipping, table.entry-products td.shipping_amount {
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 8px;
	padding-top: 7px;
}

table.entry-products td.textright, table.entry-products th.textright {
	text-align: right;
}

.two_row .odd, .two_row .even {
	background: none;
}

/**
 * Quiz Style Support
 */

.gf-quiz-img {
	padding-left: 5px !important;
	vertical-align: middle;
}

/**
 * Survey Style Support
 */
.gsurvey-likert-choice-label {
	padding: 4px;
}

.gsurvey-likert-choice, .gsurvey-likert-choice-label {
	text-align: center;
}
