html[dir="rtl"] {
  #tab_PDF {

    /* Template manager selector box */
    #gfpdf_settings\[template\], #gfpdf_settings\[default_template\] {
      margin: 0 0 0.2rem 0.2rem;
    }
  }
}

html[dir="rtl"] .gfpdf-template-manager-modal {
  #gfpdf-template-container {
    .theme {

      .theme-actions {
        left: 0;
        right: inherit;
      }
    }
  }
}
