@use '../Mixins/button';

#tab_PDF {

  .button:not(.wp-editor-wrap .button) {
    @include button.reset;
    line-height: 2.95;

    &:not(.primary):hover {
      border-color: unset;
      background-color: unset;
    }
  }

  /* Template and Font Manager Advanced Button */
  #gfpdf-template-container, #gfpdf-font-manager-container {
    display: inline-block;
    vertical-align: top;

    button {
      @include button.reset;
      min-height: 32px;
      line-height: 2.30769231;

      &.primary:hover {
        background: #242748;
        border-color: #242748;
      }
    }
  }
}
