@use '../Mixins/button';

#tab_PDF {
  .wp-picker-container {

    button {
      padding: 0 0 0 35px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(144, 146, 178);
      border-image: initial;
      height: auto;

      .wp-color-result-text {
        font-size: 0.875rem;
      }
    }

    .wp-picker-input-wrap {
      .button-small, .button-small:hover {
        @include button.reset;
      }

      input[type="text"] {
        width: 5.25rem;
        font-size: 1rem;
      }
    }
  }
}