@use '../base';

#tab_PDF {
  .gfpdf-core-font-counter {
    display: inline-block;
  }

  .gfpdf-core-font-list-results-container {
    border: 1px solid #E3E6EF;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(18, 25, 97, 0.0779552);
    margin-top: 1rem;
    padding: 0.75rem;
    height: 200px;
    overflow: auto;
    font-family: "Courier New", Courier, monospace;

    .gfpdf-core-font-status-success {
      color: base.$success-color;
    }

    .gfpdf-core-font-status-error {
      color: base.$error-color;
    }
  }
}
