@use '../base';

#tab_pdf, #tab_PDF {

  /* Settings Tab -> Default Font section -> Selector box */
  #gfpdf_settings\[default_font\] {
    margin: 0 0.2rem 0.2rem 0;
  }

  #font-manager-overlay {
    #gfpdf-font-manager-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      bottom: 2px;

      color: base.$default-text-color;

      .wp-filter-search {
        width: 70%;
      }

      /* Font list */
      .font-list {
        margin-top: 1rem;
        overflow: auto;
        max-height: 600px;

        .font-list-header,
        .font-list-item {
          display: grid;
          grid-template-columns: 0.75fr 4fr 1.5fr 1.5fr 1.5fr 2fr;
          gap: 1rem;

          padding: 0.325rem 0;
          text-align: center;

          .font-name {
            text-align: left;
          }
        }

        .font-list-header {
          font-weight: 600;
        }

        .font-list-items {

          .font-list-item {
            border-top: 1px solid base.$lighter-highlight-color;

            &:hover {
              cursor: pointer;
              background: base.$lighter-highlight-color;
            }

            &.active {
              background-color: base.$lighter-highlight-color;
            }

            &:focus {
              border: 1px dotted base.$highlight-color;
            }
          }

          /* Icons */
          .dashicons-trash {
            color: base.$highlight-color;
            text-align: center;

            transition: color 0.25s ease;

            &:focus,
            &:hover {
              color: base.$error-color;
            }
          }

          .dashicons-yes,
          .dashicons-no-alt {
            font-size: 22px;
          }

          .dashicons-yes {
            color: base.$success-color;
          }

          .dashicons-no-alt {
            color: base.$highlight-color;
          }
        }
      }

      /* Add font */
      .add-font {

        h2 {
          font-size: 1.8em;
          margin: 0.5rem 0;

          & + p {
            margin: 0;
          }
        }

        > label {
          display: block;
          margin-top: 1rem;

          font-size: 1rem;
          font-weight: 600;

          & + p {
            margin: 0.325rem 0;
          }

          .required {
            font-size: 0.8rem;
          }
        }

        #gfpdf-font-files-setting {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 1rem;

          margin: 0.75rem 0;

          .drop-zone {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 5px dashed base.$lighter-highlight-color;
            height: 160px;

            transition: all 0.3s ease-out;

            &:hover,
            &.active {
              background-color: base.$lighter-highlight-color;
              border: 5px solid base.$lighter-highlight-color;

              .dashicons {
                background-color: #ffffff;
                color: base.$highlight-color;
              }
            }

            &.active {
              .dashicons {
                font-size: 3rem;

                &:before {
                  margin-left: 1px;
                }
              }
            }

            &:focus {
              outline: none;
              border: 5px dashed base.$default-text-color;
            }

            input {
              display: none;
            }

            .dashicons {
              width: 70px;
              height: 70px;
              margin: 0.675rem;

              background-color: base.$lighter-highlight-color;
              border-radius: 50%;
              font-size: 3.2rem;
              color: base.$highlight-color;

              &:before {
                margin-left: -1px;
                vertical-align: middle;
              }
            }
          }
        }

        button {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
