#tab_pdf, #tab_PDF {
  .theme-wrap {
    #gfpdf-template-container, #gfpdf-font-manager-container {
      .wp-filter-search {
        margin: 0 0 5px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        width: 100%;
      }
    }
  }
}
