#tab_PDF {
  .theme-wrap {
    #gfpdf-template-container {
      .wp-filter-search {
        margin: 0 0 5px;
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.5;
        width: 100%;
      }
    }
  }
}
