#tab_PDF {

  .gfpdf-spinner {
    padding: 0 5px;
    vertical-align: middle;
    width: 27px;
  }

  /* Form PDF Settings */
  .gfpdf-spinner-template {
    width: 23px;
    height: 23px;
    padding: 10px 0px 0px 10px;
  }

  /* PDF List Page */
  #gfpdf_list_form, button {

    .gfpdf-spinner {
      width: 20px;
    }

  }

  /* Inside a button */
  button .gfpdf-spinner {
    padding-right: 0;
  }
}
