#tab_PDF {

  /* Font manager */
  .gfpdf-spinner {
    padding: 0 5px;
    vertical-align: middle;
    width: 27px;

    &.add-update-font {
      width: 20px;
      height: 20px;
      padding: 10px 0px 0px 10px;
    }

    &.delete-font {
      width: 17px;
      height: 17px;
      padding: 1px 0px 0px 8px;
    }
  }

  /* Form PDF Settings */
  .gfpdf-spinner-template {
    width: 23px;
    height: 23px;
    padding: 10px 0px 0px 10px;
  }

  /* PDF List Page */
  #gfpdf_list_form, button {

    .gfpdf-spinner {
      width: 20px;
    }

  }

  /* Inside a button */
  button .gfpdf-spinner {
    padding-right: 0;
  }

  /* Core Font Installer */
  #gfpdf-button-wrapper-install_core_fonts .gfpdf-spinner {
    padding: 5px;
  }

}
