#tab_PDF {

  .gform_settings_form {
    .entry-view {
      margin-right: 1rem;
    }
  }

  /* General settings -> Custom Paper Size field */
  .custom-paper-size-input-field-container {
    input {
      width: 34%;
      margin-bottom: .5rem;
    }
  }
}
