/*
 * Styles for the Forms -> PDF page
 */
#tab_PDF {

  #gfpdf_list_form {

    .gfpdf-spinner {
      width: 20px;
    }

    .check-column {
      width: 6rem;

      img {
        margin: -2px 0 0 8px;
      }
    }

  }

}