/*
 * Styles for the Forms -> PDF page
 */
.no-js {
  #tab_PDF {
    #gfpdf_list_form {

      .btn-shortcode {
        display: none;
      }

      .btn-shortcode + .gpdf-fallback-input {
        display: block;
      }
    }
  }
}

#tab_PDF {
  #gfpdf_list_form {

    .gfpdf-spinner {
      width: 20px;
    }

    table {
      tbody {
        & > :nth-child(odd) {
          background-color: #f6f7f7;
        }

        /* Modify the Gravity Forms 2.6 shortcode button version to fit in our PDF list table. */
        td.column-shortcode {
          .gform-button {
            width: 100%;
            text-align: center;
            justify-content: center;
          }
        }

        .btn-shortcode + .gpdf-fallback-input {
          display: none;
        }

        /* This supports Gravity Form version 2.5 or lower */
        .btn-shortcode {
          &.gf_2_5 {
            margin-left: 0;
            border-radius: 1px;
            padding: 0.3rem 0.5rem;
            white-space: normal;

            &:before {
              font-family: dashicons;
              content: "\f150";
              font-size: 1rem;
              vertical-align: middle;
              font-weight: 400;
              padding-right: 0.2rem;
              padding-bottom: 0.1rem;
            }

            &.btn-success,
            &.toggle {
              color: #080;
              border-color: #080;

              &:hover {
                border-color: #080;
              }
            }
          }
        }
      }
    }

    .btn-shortcode.toggle + .gpdf-fallback-input {
      display: block;
      position: absolute;
      right: 2.7rem;
      margin-top: 5px;
      width: 45vw;
      z-index: 1;

      &:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #9092b2;
        content: '';
        position: absolute;
        top: -5px;
        right: 1rem;
      }

      input {
        font-size: 12px;
        padding: 0 0.25rem;
        text-align: center;
      }
    }

    .check-column {
      width: 6rem;

      img {
        margin: -2px 0 0 8px;
      }
    }

  }

}

@media (min-width: 782px) and (max-width: 1100px) {
  #tab_PDF {
    td.column-shortcode {
      .gform-button__icon {
        display: none;
      }
    }
  }
}
