/*
 * Styles for the Forms -> PDF -> Add/Update page
 */
#tab_pdf {

  .gfpdf-settings-field-wrapper {

    /* Multi Checkbox field */
    .gfpdf-settings-multicheck-wrapper {
      margin-bottom: 0.25rem;
    }

    /* Rich Text field */
    .gform-settings-input__container--with-merge-tag.gfpdf-merge-tag-container {
      display: block;

      .all-merge-tags a.open-list {
        border-left: none;
        border-color: #e5e5e5;
      }

      .mt-gfpdf-merge-tag-selector-container {
        position: relative;
        float: right;
        top: 90px;
      }
    }

    .wp-media-buttons button {
      margin: -0.25rem 0 0;
    }

    /* Upload Field */
    .gfpdf-upload-setting-container {
      display: flex;

      input:first-of-type {
        border-bottom-right-radius: 0;
        border-right: none;
        border-top-right-radius: 0;
      }

      button {
        background: #FDFDFF;
        border: 1px solid #9092B2;
        border-radius: 0 5px 5px 0;
        height: 2.75rem;
        margin-left: 0;
      }
    }

  }
}