html[dir="rtl"] {

  #tab_PDF {
    font-family: system-ui;

    /* Gravity forms settings panel area */
    .gform-settings-panel__content {
      .tablenav {

        .alignleft {
          width: 0%;
        }

        .actions {
          padding: 0;
        }
      }
    }
  }
}
