html[dir="rtl"] {
  #tab_PDF {

    #gfpdf_list_form {
      #the-list {
        .check-column {
          .gform-status-indicator {
            margin: 0 .375rem 0 0;
            padding: 0 .375rem 0 1rem;

            svg {
              right: auto;
              left: .25rem;
            }

            .gform-status-indicator-status {
              margin-left: .375rem;
            }
          }
        }
      }
    }
  }
}
